{% extends "layout.html" %}

{% block title %}{{ pluralModelLabel }}{% endblock %}

{% block content %}
<div class="p-4">
    {% include "components/breadcrumb.html" %}
    
    {% set module_settings = True %}
    {% set url_create = url_for('settings.config') %}
    {% include "components/header_with_button.html" %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            <label for="key" class="block text-gray-700 font-bold mb-2">Key</label>
            {{ form.key(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            <label for="label" class="block text-gray-700 font-bold mb-2">Campo</label>
            {{ form.label(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            <label for="value" class="block text-gray-700 font-bold mb-2">Valor</label>
            {{ form.value(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Agregar
        </button>
    </form>
</div>
{% endblock %}
