<ul class="mt-4">
    <span class="text-gray-400 font-bold">ADMINISTRACIÓN</span>
    <li class="mb-1 group">
        <a href="/" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md">
            <i class="ri-home-2-line mr-3 text-lg"></i>
            <span class="text-sm">Escritorio</span>
        </a>
    </li>
    <li class="mb-1 group">
        <a href="#" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
            <i class='bx bx-user mr-3 text-lg'></i>                
            <span class="text-sm">Controles de Acceso</span>
            <i class="ri-arrow-right-s-line ml-auto"></i>
        </a>
        <ul class="pl-7 mt-2 hidden">
            <li class="mb-4">
                <a href="/users" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:content-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">
                    Usuarios
                </a>
            </li> 
            <li class="mb-4">
                <a href="/roles" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:content-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">
                    Roles
                </a>
            </li> 
            <li class="mb-4">
                <a href="/permissions" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:content-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">
                    Permisos
                </a>
            </li> 
        </ul>
    </li>
    <li class="mb-1 group">
        <a href="/settings" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md">
            <i class='bx bx-list-ul mr-3 text-lg'></i>                
            <span class="text-sm">Settings</span>
        </a>
    </li>
    <hr/>
    <li class="mb-1 group">
        <a href="#" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md">
            <i class='bx bx-log-out mr-3 text-lg'></i>                 
            <span class="text-sm">Salir de la App</span>
        </a>
    </li>
</ul>